.navbar-custom {
  background: rgb(255, 224, 0);
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-brand {
  color: black;
}




body {
  background: #FFECB3;
}

/*  */ 
.carousel-caption h1 {
/*  font-family:    Garamond; */
  font-size:      3em;
  color:          #FF6F00 !important;
}
/* Description text */
.carousel-caption p {
/*  font-family:    Garamond;*/
  font-size:      2em;
  color:          #FFFF00 !important;
}

.orange {
  color:          #FF6F00 !important;
}

.slogan {
  font-size: 6em; 

} 

.thick {
  margin: 60px; 
}

.center-button{
  float:none;
  margin: 0 auto;
  vertical-align: middle;
}

.founding-story{
  font-size: 1.5em;

}

/* Button text
.carousel-caption .btn {
  font-family:    Garamond;
  font-size:      1em;
  color:          yellow;
}
 */
