.navbar-custom {
  background: rgb(255, 224, 0);
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-brand {
  color: black;
}




body {
  background: #FFECB3;
}

/*  */ 
.carousel-caption h1 {
/*  font-family:    Garamond; */
  font-size:      3em;
  color:          #FF6F00 !important;
}
/* Description text */
.carousel-caption p {
/*  font-family:    Garamond;*/
  font-size:      2em;
  color:          #FFFF00 !important;
}

/* Button text
.carousel-caption .btn {
  font-family:    Garamond;
  font-size:      1em;
  color:          yellow;
}
 */
