

<div class="container-fluid"> 
  <div class="col-lg-8 col-center-block">
    <div class="text-center orange">
      <h1 class="slogan">Founding Story</h1>
    </div> 
  </div> 

  <div class="row">
    <div class="col-lg-8 founding-story">
            <p>HaappyCo Corporations was founded with the purpose to combat the terrors of
      the Oil Wars. At the time, a majority of the world’s oil supplies had dried up
      and the miniscule amount left was sold to the highest bidder leaving millions
      around the world without power and transportation. The world’s energy demand had
      finally surpassed the world’s supply of energy and the worst energy crisis in
      history was in effect. It was at this time that our three founders, Samuel Lee,
      Janice Winslow, and Pete Simms, dedicated to solving the energy crisis and
      ending the Oil Wars, came up with a method to utilize 89% of the sun’s energy
      with solar panels. The most efficient solar panels of the era. Through funding
      from countries all around the world, HaappyCo was created with the purpose to
      provide every human being access to energy. In just a short five years, solar
      panels were available and every country and the Oil Wars had completely ended.
      </p>
    </div> 
    <div class="col-md-4">
      <img class="img-responsive" src="/img/soldier.jpg">
      <div class="caption"> 
	      <p class="text-center"> After our founders fought in the Oil
		      Wars, they wanted to ensure that no one ever had to go
		      through what they went through. HaappyCo was founded upon
		      providing clean energy and happier, safer lives for
		      everyone so that war would never break out again!  </p> 
      </div> 
    </div> 
  </div> 

<div class="row"> 
  <div class="col-lg-8 col-lg-offset-4">
    <div class="text-center orange">
      <h1 class="slogan">Our Mission</h1>
    </div> 
  </div> 
</div> 


<div class="row">
    <div class="col-lg-4">
      <img class="img-responsive" src="/img/interns.jpg">
      <div class="caption"> 
	      <p class="text-center">Here at HaappyCo, we treat
	      our interns like we treat all members of our HaappyCo company.
	      Our interns move on to be hired at places like Five@Five,
	      Duracell, EnergyMongols, and some even decide to remain with the
	      HaappyCo Family!</p>
      </div> 
    </div> 
    <div class="col-lg-8 founding-story"> 
      <p>Though generations have passed
      since the Oil Wars, we at HaappyCo are still committed to the same values of our
      three founders, to provide the most efficient and cost effective energy to all
      human beings. Innovation is at the core of our company. We strive to emulate the
      innovative spirit that led to our original three founders’ creation of the solar
      panels and we continue to provide high quality products globally. At HaappyCo,
      we go further to make our products better, our employees happier and our planet
      a better place to be. We strive to have diversity in the workplace since
      diversity of people results in our diversity of solutions.</p>
    </div> 
  </div> 
</div> 
