<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="/javascripts/careers.js"></script>

<div class="container">
  <div class="col-lg-6">
    <form id="career-form">
      <div class="form-group">
        <label for="First Name">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Joe">
        <label for="Last Name">Last Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="Smith">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="resume">Upload your resume</label>
        <input type="file" id="exampleInputFile">
      </div>
      <button type="submit" id="submit-form" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
